@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&family=Poppins&family=Quicksand&family=Ubuntu:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

section {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/img/bg-img-2.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    border: 2px solid white;
    max-width: 1180px;
    width: 100%;
    background-color: antiquewhite;
    height: 90vh;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    outline: none;
}

.main-text {
    text-align: center;
}

h1 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 50px;
    color: crimson;
}

.p-1 {
    padding-top: 45px;
    font-size: 20px;
}

.p-2 {
    padding-top: 45px;
    font-size: 20px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    transition: all ease 0.5s;
    color: aqua;
}

a:hover {
    color: crimson
}

hr {
    margin: auto 50px;
}

/* Form Content styling */

.year-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.form-gender {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}