@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&family=Poppins&family=Quicksand&family=Ubuntu:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

section {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/bg-img-2.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    border: 2px solid white;
    max-width: 1180px;
    width: 100%;
    background-color: antiquewhite;
    height: 90vh;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    outline: none;
}

.main-text {
    text-align: center;
}

h1 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 50px;
    color: crimson;
}

.p-1 {
    padding-top: 30px;
    font-size: 20px;
}

.p-2 {
    padding-top: 30px;
    font-size: 20px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    transition: all ease 0.5s;
    color: aqua;
}

a:hover {
    color: crimson
}

hr {
    margin: auto 50px;
}

/* Form Content styling */

.year-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.form-gender {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-3 {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.9px;
}

/* Input fields styling */

#numYear {
    border-radius: 4px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    transition: all 0.3s ease;
}

#numYear:focus {
    border-color: crimson;
    box-shadow: 0 0 4px 0 rgba(220, 20, 60, 0.596);
}

#numMonth {
    border-radius: 4px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    transition: all 0.3s ease;
}


#numDay {
    border-radius: 4px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    transition: all 0.3s ease;
}


/* Radio buttons styling */

.form-gender {
    font-size: 20px;
    letter-spacing: 1px;
}

/* Button styling */

#getName {
    background-color: crimson;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
    transition: all 0.4s ease;
    margin-left: 50px;
}

#getName:hover {
    background-color: transparent;
    border: 2px solid crimson;
    cursor: pointer;
}

.clear-btn {
    background-color: crimson;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
    transition: all 0.4s ease;
    margin-left: 50px;
    margin-top: 15px;
}

.clear-btn:hover {
    background-color: transparent;
    border: 2px solid crimson;
    cursor: pointer;
}

/* footer styling */
